@font-face {
  font-family: "SS-Steedicons";
  src: url('../fonts/ss-steedicons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "proxima-nova-soft", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  
  -moz-transition: color 0.1s 0;
  -webkit-transition: color 0.1s 0;
  transition: color 0.1s 0;
}

.header {
  font-size: 0;
  overflow: hidden;
  position: fixed;
    bottom: 0;
    top: 0;
  text-align: center;
  width: 100%;
}

.nav {
  border-color: rgb(220,220,220);
  border-style: solid;
  border-width: 1px 0;
  font-size: 1rem;
  position: absolute;
    top: 50%;
    left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
}

.nav ul {
  display: inline-block;
  list-style-type: none;
  margin: 0 0 30px 0;
  padding: 0;
}

.nav ul:after {
  content: " "; 
  display: table; 
  clear: both
}

.nav li {
  float: left;
  width: 100px;
}

.nav li a {
  color: rgb(180, 180, 180);
  display: block;
  line-height: 1em;
  padding-top: 40px;
  position: relative;
}

.nav li a:hover,
.nav li a.active {
  color: rgb(40, 40, 40);
}

.nav li a:active {
  color: rgb(254, 111, 103);
}

.nav li a:before {
  content: attr(data-icon);
  font-family: "SS-Steedicons";
  font-size: 32px;
  line-height: 1em;
  margin-left: -0.5em;
  position: absolute;
    left: 50%;
    top: 0;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.logo {
  background: white;
  color: rgb(40, 40, 40);
  display: inline-block;
  font-family: "ff-prater-script-web", sans-serif;
  font-size: 24px;
  line-height: 40px;
  height: 40px;
  padding: 0 10px;
  position: relative;
    top: -20px;
}

.logo:hover { color: rgb(254, 111, 103); }
